@use "../base" as base;

.file {
  @extend %element;
  > [class~="file-element"] {
    @include base.name(pointer);
    transition: color 0.2s ease-in-out;
    text-overflow: ellipsis;
    padding-right: 10px;

    &[class~="playing"] {
      color: lighten(base.$main-color, 10%);
      text-decoration: underline;

      &:hover {
        color: base.$main-color;
      }
    }
  }
  > [class~="file-element"] {
    > span {
      @include base.icon();
    }
  }
}
