@use "../base";

.folder {
  @extend %element;
  transition: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

  >[class~="folder-element"] {
    @include base.name();

    & {
      transition: color 0.2s ease-in-out;
      cursor: pointer;
    }

    >span {
      @include base.icon();
    }

    &:hover {
      color: base.$main-color;
    }
  }
}

.container {
  padding-left: 0px;
  opacity: 1;
  transition: all .3s ease-in-out;

  &[class~="preEnter"],
  [class~="exiting"] {
    padding-left: 15px;
    opacity: 0.5;
    transition: all .3s ease-in-out;
  }

  &[class~="exited"] {
    display: none;
  }
}