.folder {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  border-radius: 5px;
  z-index: 1;
  transition: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  > [class~="folder-element"] {
    padding: 2px 0px;
    border-radius: 4px;
    width: fit-content;
    cursor: pointer;
    margin-block-start: 0.05em;
    margin-block-end: 0.05em;
    white-space: nowrap;
    user-select: none;
    transition: color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

    &:hover {
      color: #e85982;
      transition: color 0.2s ease-in-out;
    }
  }
  > [class~="folder-element"] > span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 17px;
  }
}
