.player {
  padding-top: 0px;
  --plyr-color-main: #e85982;
  transition: all 0.2s ease-in-out;

  @media (width <= 992px) {
    margin: 12px;
  }

  @media (width > 992px) {
    width: 1120px;
    padding: 18px;
  }

  @media (height < 576px) {
    width: 75vw;
    margin: auto;
  }
}
