@use "../_base" as base;
@use "sass:color";

.video-info {
  border-left: 3px solid #e85982;
  border-right: 3px solid #e85982;
  padding: 0.25rem 1rem;
  margin-top: 1rem;
  border-radius: 5px;

  >h4 {
    margin-block-end: 0em;
    margin-block-start: 0em;
    font-size: 17px;
  }

  >[class~="info"] {
    justify-content: space-between;

    >div:nth-child(1) {
      margin-block-start: 0.5em;
    }

    >div {
      margin-block-start: 0.2em;
      line-height: 23px;
      font-size: 14px;

      >strong {
        padding-right: 5px;
      }

      >span {
        color: #6190c9;
        font-size: 11px;
        vertical-align: baseline;
        padding-left: 3px;
      }

      >[class~='link']:hover {
        text-decoration: underline;
        color: #e85982;
      }
    }
  }
}

.tag,
.actor {
  >a {
    font-size: 13px;
    margin: 0 4px 0 0;
    padding: 2px 5px 2px 5px;
    border-radius: 8px;
    background-color: color.adjust(base.$backgrdColor, $lightness: 10%);

    &:hover {
      background-color: color.adjust(base.$backgrdColor, $lightness: 20%);
    }

    >span {
      color: #6190c9;
      font-size: 11px;
      vertical-align: baseline;
    }
  }
}

.loader {
  position: relative;
  width: 100%;
  height: 240px;
  display: flex;
}