.player {
  padding-top: 0px;
  --plyr-color-main: #e85982;
  transition: all 0.2s ease-in-out;

  [class~="title"] {
    border-left: 3px solid #e85982;
    // border-right: 4px solid #e85982;
    padding: 0.25rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;

    h4 {
      margin-block-end: 0em;
      margin-block-start: 0em;
    }

    a {
      display: block;
      line-height: 0.8rem;
      font-size: 14px;
      margin-block-start: 0.8em;
      margin-block-end: 0.4em;
      font-style: italic;

      &:hover {
        color: #e85982;
        text-decoration: underline;
      }
    }
  }

  @media (width <= 992px) {
    margin: 12px;
  }

  @media (width > 992px) {
    width: 1120px;
    padding: 18px;
  }

  @media (height < 576px) {
    width: 75vw;
    margin: auto;
  }
}
