@use "../_base" as base;
@use "sass:color";

.video-info {
  border-left: 3px solid #e85982;
  border-right: 3px solid #e85982;
  padding: 0.25rem 1rem;
  margin-top: 1rem;
  border-radius: 5px;

  >h4 {
    margin-block-end: 0em;
    margin-block-start: 0em;
  }

  >[class~="info"] {
    display: flex;
    justify-content: space-between;

    >a {
      margin-block-start: 0.6em;
      margin-block-end: 0em;
      line-height: 22px;
      font-size: 14px;
      font-style: italic;
      display: block;

      >span {
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        margin-right: 3px;
      }

      &:hover {
        color: #e85982;
        text-decoration: underline;
      }
    }
  }
}

.tags {
  height: 20px;
  margin: 5px 0 5px 0;

  >button {
    appearance: none;
    border: none;
    background-color: inherit;
    color: color.adjust(base.$main-color, $lightness: 5%);
    font-size: 18px;
    cursor: pointer;

    >svg {
      vertical-align: middle;
    }

    &:hover {
      color: base.$main-color;
    }
  }
}

.tag {
  font-size: 13px;
  margin: 0 4px 0 0;
  padding: 2px 5px 2px 5px;
  border-radius: 8px;
  background-color: color.adjust(base.$backgrdColor, $lightness: 10%);

  &:hover {
    background-color: color.adjust(base.$backgrdColor, $lightness: 20%);
  }

  >span {
    color: #6190c9;
    font-size: 11px;
    vertical-align: baseline;
  }
}