.video {
  width: 1129px;
  margin: 20px;
  margin-right: 5px;
  padding: 20px;
  padding-top: 0px;
  > p {
    color: #00b2ff;
    font-size: 17px;
    font-weight: 800;
  }

  --plyr-color-main: #e85982;
}
