.ctx {
  position: absolute;
  z-index: 10;
  background-color: #f3f3f3;
  border-radius: 6px;
  box-shadow: 1px 2px 5px rgba($color: #ffffff, $alpha: 0.2);
  width: 120px;
  > ul {
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    background-color: #2f285e;
    li + li {
      border-top: 1px solid #1c1838;
    }
    > li {
      display: block;
      padding-left: 5px;
      &:hover {
        color: #e85982;
      }

      > p {
        border-radius: 4px;
        width: 100%;
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding-block-start: 3px;
        padding-block-end: 3px;
        padding: 3px;
        font-size: 12px;
        line-height: 12px;
        cursor: pointer;

        span {
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;
          margin-right: 3px;
          line-height: 14px;
        }
      }
    }
  }
}

.ctx-dialog {
  position: absolute;
  z-index: 10;
  background-color: #2f285e;
  border-radius: 6px;
  border: 1px solid #1c1838;
  box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2);
  width: 120px;
  font-size: 14px;

  > p {
    cursor: default;
    line-height: 14px;
    margin: 0;
    padding: 0.4em;
    text-align: center;
    border-bottom: 1px solid #1c1838;
  }

  > div {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    p + p {
      border-left: 1px solid #1c1838;
      color: #e85982;
      &:hover {
        border-bottom-right-radius: 4px;
        background-color: #e85982;
        color: #f3f3f3;
      }
    }
    > p {
      width: 60px;
      line-height: 14px;
      margin: 0;
      text-align: center;
      padding: 0.4em;
      &:hover {
        color: #f3f3f3;;
      }
    }
  }
}
