.file-system {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 12px;
  width: 250px;

  > div {
    border-left: none;
  }

  @media (width <=992px) {
    margin: 5px 0;
    border-radius: 8px;
    width: 320px;
  }
}
