.sideBar {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #b8babc;
  width: 250px;
  min-width: 250px;
  margin-top: 18px;
  padding-left: 10px;
  position: relative;
  top: 0;
  bottom: 0;
  border-left: 1px solid #1c1838;
  height: 100%;
}

.fileSys {
  padding: 1px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  color: #b8babc;
  margin-bottom: 70px;
  font-size: 12px;
  min-height: 400px;
}
