.spinner {
  margin: auto;
  display: inline-block;
  transform: rotateY(180deg);
  svg {
    animation: rotation 1.5s linear infinite;
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
  }
}
