@use "../base" as base;
@use "sass:color";

.video-box-sidebar {
  @extend %sidebar;

  [class~="video-box-container"] {
    overflow-y: auto;
    height: 100%;
  }

  [class~="video-box-container"]>[class~="videobox"] {
    display: flex;
    margin: 8px;
    padding: 5px;
    border-radius: 8px;

    >[class~="img-box"] {
      position: relative;
      padding-right: 10px;
      cursor: pointer;
      height: 100px;

      img {
        height: 100px;
        width: 150px;
        border-radius: 8px;
        padding: 0px;
        object-fit: cover;
      }
    }

    >[class~="img-box-title"] {
      width: 100%;
      height: calc(50%);
      padding-left: 0px;
      cursor: pointer;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      line-clamp: 4;
      overflow: hidden;

      a {
        font-size: 16px;
        font-weight: 600;
      }
      i {
        font-size: 13px;
      }

      &:hover {
        color: color.scale(base.$main-color, $lightness: 10%);
      }
    }

    &[class~="playing"] {
      // outline: 1px solid lighten(base.$main-color, 15%);
      outline: 1px solid color.scale(base.$main-color, $lightness: 15%);
    }
  }
}