@use "../responsive" as r;
@use "sass:color";

.video-box-container {
  overflow-y: auto;
  height: 100%;
  user-select: none;

  > [class~="videobox"] {
    display: flex;
    margin: 10px;
    padding: 6px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

    > [class~="img-box"] {
      flex: 0 0 112.5px;
      width: 112.5px;
      aspect-ratio: 5/7;
      overflow: hidden;
      border-radius: 8px;
      cursor: pointer;

      > img {
        padding: 0 1px 0 1px;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: 100% center;
        image-rendering: auto;
        transition: all 0.2s ease-in-out;
        &:hover {
          object-position: 91% center;
        }
      }
    }

    > [class~="img-box-title"] {
      display: flex;
      flex-direction: column;
      height: 157.5px;
      justify-content: space-between;
      > [class~="sn"] {
        display: flex;

        > p {
          font-style: italic;
          font-size: 16px;
          writing-mode: vertical-lr;
          white-space: nowrap;
          color: color.scale(r.$main-color, $lightness: 5%);
          cursor: pointer;
        }

        > [class~="actor"] {
          writing-mode: sideways-rl;
          font-size: 12px;
          background-color: #1b1835;
          border-radius: 9px;
          padding: 2px 1px;
          line-height: 1.5;
          height: fit-content;

          &:hover {
            background-color: #2c2759;
          }

          > span > svg {
            font-size: 11px;
            transform: rotate(90deg);
            color: rgb(232, 89, 130);
          }
        }
      }
      > [class~="title"] {
        flex: 0 0 65px;
        height: 65px;
        margin-left: 5px;
        overflow: hidden;
        cursor: pointer;
        p {
          font-size: 12px;
          line-height: 1.4;
          text-overflow: ellipsis;
        }
      }
    }

    &:hover {
      transition: all 0.2s ease-in-out;

      > [class~="img-box-title"] > a {
        color: color.scale(r.$main-color, $lightness: 40%);
      }
    }

    &[class~="playing"] {
      transition: all 0.2s ease-in-out;
      box-shadow:
        -3px 0 0 0 #e85982,
        3px 0 0 0 #e85982;
      > [class~="img-box"] > img {
        object-position: 91% center;
      }
      > [class~="img-box-title"] > a {
        color: color.scale(r.$main-color, $lightness: 20%);
      }
    }
  }
}
