@use "../../base" as base;
@use "sass:color";

.file {
  @extend %element;
  > [class~="file-element"] {
    @include base.name();

    & {
      transition: color 0.2s ease-in-out;
      text-overflow: ellipsis;
      padding-right: 10px;
    }

    > [class~="name"]:hover {
      color: base.$main-color;
    }
    > span {
      @include base.icon();
    }

    &:hover {
      cursor: pointer;
    }

    &[class~="playing"] {
      // color: lighten(base.$main-color, 5%);
      color: color.scale(base.$main-color, $lightness: 25%);
      text-decoration: underline;

      &:hover {
        color: base.$main-color;
      }
    }

    &[class~="convert"] {
      > [class~="progress"] {
        font-style: italic;
      }

      &:hover {
        cursor: not-allowed;

        > [class~="name"] {
          text-decoration: line-through;
          // color: lighten($color: #1c1838, $amount: 50%);
          color: color.scale(#1c1838, $lightness: 50%)
        }
      }
    }
  }
}
