@use "../../responsive" as r;
@use "sass:color";

.file {
  border-radius: 1px;
  margin-left: 8px;
  @include r.element;

  > [class~="file-element"] {
    transition: color 0.2s ease-in-out;
    text-overflow: ellipsis;
    padding-right: 10px;

    &:hover {
      cursor: pointer;
      color: r.$main-color;
    }

    &[class~="playing"] {
      // color: lighten(base.$main-color, 5%);
      color: color.scale(r.$main-color, $lightness: 25%);
      text-decoration: underline;

      &:hover {
        color: r.$main-color;
      }
    }

    &[class~="convert"] {
      > [class~="progress"] {
        font-style: italic;
      }

      &:hover {
        cursor: not-allowed;

        > [class~="name"] {
          text-decoration: line-through;
          color: color.scale(#1c1838, $lightness: 50%);
        }
      }
    }
  }
}
