@use "../../responsive" as r;

.folder {
  border-radius: 1px;
  margin-left: 8px;
  @include r.element;

  > [class~="folder-element"] {
    cursor: pointer;
    &:hover {
      color: r.$main-color;
    }
  }
}
