@use "../../base" as base;
@use "sass:color";

.form {
  display: inline-block;
  height: 20px;

  > input {
    display: inline-block;
    border: none;
    border-radius: 2px;
    background-color: base.$backgrdColor;
    color: #b8babc;
    padding: 0;
    padding: 0px 2px;
    height: inherit;
    font-size: 13px;
    font-family: inherit;
    line-height: 22px;
    text-align: justify;
    outline: 1px solid color.scale(base.$main-color ,$lightness: 20%);

    &:focus-visible {
      line-height: 20px;
    }

    &[type="text" i] {
      padding-block: 0;
      padding-inline: 0;
    }
    &::selection {
      // background: lighten(base.$backgrdColor, 45%);
      background: color.scale(base.$backgrdColor, $lightness: 45%);
      // color: lighten(base.$main-color, 5%);
      color: color.scale(base.$main-color, $lightness: 5%)
    }

    @media (width <= 992px) {
      font-size: 16px;
      line-height: 30px;
    }
  }

  > button {
    display: inline-block;
    margin-left: 5px;
    color: base.$backgrdColor;
    appearance: none;
    cursor: pointer;
    background-color: inherit;
    border: 0;
    font-size: 18px;
    line-height: 18px;
    padding-block: 0;
    padding-inline: 0;
    width: 30px;
    height: 20px;
    vertical-align: sub;

    @media (width <= 992px) {
      font-size: 20px;
      line-height: 20px;
    }

    > svg {
      vertical-align: baseline;
    }

    &:hover {
      // background: lighten(#090812, 30%);
      background: color.scale(#090812, $lightness:30%);
      border-radius: 5px;
      // outline: 1px solid lighten(#090812, 35%);
      outline: 1px solod, color.scale(#090812, $lightness: 35%);
    }
  }
}
