$main-color: #e85982;
$backgrdColor: #090812;

%element {
  margin-left: 8px;
  border-radius: 1px;
  transition: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@mixin name($curosr: none) {
  cursor: $curosr;
  padding: 2px 0px;
  border-radius: 4px;
  white-space: nowrap;
  user-select: none;
  font-size: 12px;
  line-height: 20px;
  display: block;
  width: 100%;

  &:hover {
    color: $main-color;
  }

  @media (width <= 992px) {
    font-size: 16px;
    line-height: 30px;
  }
}

@mixin icon() {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 17px;

  @media (width <= 992px) {
    font-size: 24px;
  }
}
