$main-color: #e85982;
$backgrdColor: #090812;

%element {
  margin-left: 8px;
  border-radius: 1px;
  transition: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@mixin name($curosr: none) {
  cursor: $curosr;
  padding: 2px 0px;
  border-radius: 4px;
  white-space: nowrap;
  user-select: none;
  font-size: 13px;
  line-height: 22px;
  display: block;
  width: 100%;

  @media (width <= 992px) {
    font-size: 16px;
    line-height: 30px;
  }
}

@mixin icon() {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 19px;

  @media (width <= 992px) {
    font-size: 24px;
  }
}

%sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #b8babc;
  padding-top: 10px;
  height: 100%;
  width: 5px;
  justify-content: flex-start;
  transition: all 0.25s ease-in-out;
  border-left: 1px solid #2c2842;
  bottom: 20px;
  padding-top: 35px;

  @media (width <= 992px) {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1c1838;
    z-index: 10;
    width: 0px;
    flex-direction: column;
    border-left: none;
    padding-top: 5px;
  }

  [class~="arrow"] {
    height: fit-content;
    vertical-align: middle;
    font-size: 18px;
    margin-left: -20px;
    transition: all 0.25s ease-in-out;
    &:hover {
      cursor: pointer;
    }
    @media (width >= 992px) {
      display: none;
    }
    > svg {
      transform: rotate(0deg);
      transition: all 0.5s ease-in-out;
    }
  }

  &[class~="active"] {
    width: 320px;
    min-width: 300px;
    padding-left: 3px;
    padding-right: 5px;

    > [class="arrow"] {
      margin-left: 4px;
      > svg {
        transform: rotate(180deg);
        transition: all 0.5s ease-in-out;
      }
    }
  }

  > p {
    margin-left: 8px;
    margin-top: auto;
    user-select: none;
    line-height: 12px;
    font-size: 12px;
    white-space: nowrap;

    svg {
      display: inline-block;
      vertical-align: sub;
      font-size: 15px;
      line-height: normal;
    }
  }
}
