@use "sass:map";

$main-color: #e85982;
$backgrdColor: #090812;

$breakpoints: (
  mobile: 576px,
  tablet: 768px,
  desktop: 992px,
  large: 1200px,
);

@function breakpoint($name) {
  @return map-get($breakpoints, $name);
}

//响应式属性
@mixin response($property, $default, $values: ()) {
  //默认值
  #{$property}: $default;

  @each $name, $value in $values {
    @if map.has-key($breakpoints, $name) {
      @media (width <= map.get($breakpoints, $name)) {
        #{$property}: $value;
      }
    }
  }
}

@mixin element {
  > a {
    padding: 2px 0px;
    border-radius: 4px;
    white-space: nowrap;
    user-select: none;
    line-height: 22px;
    display: block;
    width: 100%;

    @include response(
      font-size,
      15px,
      (
        desktop: 17px,
      )
    );

    @include response(
      line-height,
      22px,
      (
        desktop: 28px,
      )
    );

    > span {
      display: inline-block;
      vertical-align: sub;
      margin-right: 5px;
      @include response(
        font-size,
        20px,
        (
          desktop: 23px,
        )
      );
    }
  }
}
