.layout {
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  color: #b8babc;

  [class~="player"] {
    display: block;
    width: 992px;
    margin: 18px;

    @media (width<=992px) {
      margin: 10px;
    }
  }
}
