<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="/dist/favicon.ico" />
    <% if (process.env.NODE_ENV === "production") { %>
    <script
      src="http://192.168.1.31/static/react.production.min.js"
      defer
    ></script>
    <script
      src="http://192.168.1.31/static/react-dom.production.min.js"
      defer
    ></script>
    <script src="http://192.168.1.31/static/axios.1.6.2.min.js" defer></script>
    <script src="http://192.168.1.31/static/plyr.3.7.8.min.js" defer></script>
    <script src="http://192.168.1.31/static/react-redux.min.js" defer></script>
    <script
      src="http://192.168.1.31/static/redux-toolkit.umd.min.js"
      defer
    ></script>
    <script src="http://192.168.1.31/static/redux.min.js" defer></script>
    <link
      href="http://192.168.1.31/static/plyr.3.7.8.min.css"
      rel="stylesheet"
    />
    <% } else { %>
    <link rel="stylesheet" href="/dist/plyr.css" />
    <% } %>
  </head>
  <body>
    <div id="layout" class="layout">
      <div class="main">
        <div class="player"><video id="plyr"></video></div>
        <div id="app"></div>
      </div>
      <div id="statusbar"></div>
    </div>
  </body>
</html>
