<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="/dist/favicon.ico" />
    <% if (process.env.NODE_ENV === "production") { %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/redux/5.0.0/redux.legacy-esm.min.js"
      integrity="sha512-0QGhT81lLjqXOVxk40GUFw++qVFSW1K2nuCtNqu5mmX9s7wBClN+wv+Y4hmwc09drcDNthb4rDfYoi1Qn8mg5A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.production.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.production.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/react-redux/9.0.2/cjs/index.min.js"
      integrity="sha512-YnBVka9rZxQTHCH8MNZ3jorwBnxCtmgYBbMZ504tv24rCYijhPII8GVNm4h7soP2Yj78O78Q8zKiFWn0T3uTMA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"
      integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.8/plyr.min.js"
      integrity="sha512-vONptKEoKbP1gaC5UkbYDa9OPr04ur4bxaaqT7DAJxGHB2oogtseCPrl5e5hPFokGYotlGNV4d+GM593ka7iNA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.8/plyr.min.css"
      integrity="sha512-uPqDOam5vjVgnASE75fCgMtdLa3oK2+3muDU5ESulSImHAA0Z0xjEnuJpKowTsXUWY09MsYre48zgBFwh2P/yw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <% } else { %>
    <link rel="stylesheet" href="/dist/plyr.css" />
    <% } %>
  </head>
  <body>
    <div id="layout" class="layout">
      <div class="main">
        <div class="player"><video id="plyr"></video></div>
        <div id="app"></div>
      </div>
      <div id="statusbar"></div>
    </div>
  </body>
</html>
